
/* -- CSS ------------------------------------------------------------------- */

.dashboard-container {
    padding-inline: 2rem;
}

.crud-header {
    display: flex;
    align-items: center;
    width: 100%; padding: 2rem 0;
    justify-content: space-between;
}

.crud-header-info h2 {
    margin: 0;
    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.crud-header-info span {
    padding-top: .5rem;
    text-transform: uppercase;
    color: var(--text-secondary);
}

/* -------------------------------------------------------------------------- */

.crud-header-back {
    padding: .8rem 1.6rem;
    align-items: center;
    display: flex; flex-wrap: nowrap;
    background-color: var(--info-background);
    border: .0125rem solid var(--info-border);
}

.crud-header-back span {
    margin-right: .5rem;
    color: var(--info-border);
}

.crud-header-back strong {
    color: var(--text-secondary);
    text-transform: uppercase;
}

.crud-header-back:hover {
    background-color: var(--info-text);
}

.crud-header-back:hover span,
.crud-header-back:hover strong {
    color: var(--canvas-color);
}

/* -------------------------------------------------------------------------- */

.crud-form {
    margin-top: 1rem;
}

.form-grid {
    display: grid;
    margin-bottom: 2rem;
    width: 60%; gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.form-control {
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-weight: 600;
    font-size: .95rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.form-control input {
    padding: 1rem;
    border-radius: .4rem;
    color: var(--text-primary);
    background-color: var(--canvas-color);
    border: .0125rem solid var(--border-color);
}

.form-control input:focus, .form-control select:focus {
    border-color: var(--info-border);
}

/* -------------------------------------------------------------------------- */

.form-control select {
    padding: 1rem;
    cursor: pointer;
    color: var(--text-primary);
    background-color: var(--canvas-color);
    border: .0125rem solid var(--border-color);
}

.form-control select:focus {
    background-color: var(--background-color);
}

::picker(select) {
    scrollbar-width: none;
    border-radius: .4rem;
    margin-block-end: .5rem;
    margin-block-start: .5rem; 
    border: .0125rem solid var(--border-color);
}

.form-control select option {
    display: flex;
    padding: .75rem; gap: .5rem;
    justify-content: flex-start;
    background-color: var(--canvas-color);
}

.form-control select option:hover {
    background-color: var(--border-color);
}

.form-control select option[disabled] {
    background-color: var(--border-color);
}

/* -------------------------------------------------------------------------- */

.form-control.file-image input[type='file'] {
    border: none;
    font-size: .92rem;
    color: var(--text-primary);
}

.form-control.file-image input[type='file']::-webkit-file-upload-button {
    visibility: hidden; display: none;
}

.form-control.file-image input[type='file']::before {
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    border-radius: .25rem;
    color: var(--text-secondary);
    background-color: var(--border-color);
    padding: 1rem 3rem; margin-right: 1rem;

    content: 'Seleccionar archivo';
}

.form-control.file-image input[type='file']:hover::before {
    color: var(--canvas-color);
    background-color: var(--text-disabled);
}

.form-control.file-image input[type='file']:active::before {
    opacity: .8;
    background-color: var(--text-disabled);
}

.form-control.file-image input[type='file']::file-selector-button {
    display: none;
}

.form-control textarea {
    padding: .75rem;
    border-radius: .4rem;
    color: var(--text-primary);
    background-color: var(--canvas-color);
    border: .0125rem solid var(--border-color);
    
    resize: vertical; min-height: 3rem;
    font-size: 1rem; line-height: 1.5;
}

.form-control textarea:focus {
    border-color: var(--info-border);
    background-color: var(--background-color);
}

.picture-preview {
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
    max-width: fit-content;
    color: var(--text-secondary);
    padding: .75rem; background-color: var(--border-color);
}

.picture-preview:hover {
    color: var(--canvas-color);
    background-color: var(--text-disabled);
}

/* -------------------------------------------------------------------------- */

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.action-save {
    padding: .8rem 1.6rem;
    align-items: center;
    font-weight: bold;
    display: flex; flex-wrap: nowrap;
    background-color: var(--success-background);
    border: .0125rem solid var(--success-border);
}

.action-save span {
    margin-right: .5rem;
    color: var(--success-border);
}

.action-save strong {
    font-size: medium;
    font-weight: inherit;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.action-save:hover {
    background-color: var(--success-text);
}

.action-save:hover span,
.action-save:hover strong {
    color: var(--canvas-color);
}

/* -------------------------------------------------------------------------- */

.delete-warning {
    border-radius: .4rem;
    display: flex; align-items: center;
    padding: 2rem; margin-bottom: 2rem;
    background: var(--warning-background);
}

.delete-warning span {
    margin-right: 1rem;
    color: var(--warning-text);
}

.delete-actions {
    display: flex; gap: 1rem;
    justify-content: flex-end;
}

.action-delete {
    padding: .8rem 1.6rem;
    align-items: center;
    display: flex; flex-wrap: nowrap;
    background-color: var(--error-background);
    border: .0125rem solid var(--warning-border);
}

.action-delete span {
    margin-right: .5rem;
    color: var(--warning-border);
}

.action-delete strong {
    font-size: medium;
    font-weight: inherit;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.action-delete:hover {
    background-color: var(--warning-text);
}

.action-delete:hover span,
.action-delete:hover strong {
    color: var(--canvas-color);
}

/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
    .form-actions, .delete-actions {
        flex-direction: column;
        align-items: stretch;
    }
}

/* -------------------------------------------------------------------------- */