
/* -------------------------------------------------------------------------- */

.dashboard-header {
    margin: 4rem 0;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
}

.dashboard-header h2 {
    margin: 0; font-size: 1.8rem;
    font-weight: bold; color: var(--color-subtitle);
}

.datetime-card {
    width: fit-content;
    display: flex; flex-direction: column;
    border-radius: .5rem; padding: 1.5rem 4rem;
    align-items: center; justify-content: center;
    background-color: var(--color-accent);
}

.datetime-card small, .datetime-card h4, .datetime-card p {
    margin: 0;
    padding: .25rem 0;
    white-space: nowrap;
    color: var(--color-subtitle);
}

.datetime-card small {
    font-size: .75rem;
}

.datetime-card h4 {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-text);
}

.datetime-card p {
    font-size: .9rem;
}

/* -------------------------------------------------------------------------- */

.dashboard-info {
    display: flex; flex-wrap: wrap;
    margin-bottom: 1.5rem; gap: 1.5rem;
}

.info-card {
    border-radius: .5rem;
    justify-content: space-between;
    flex-grow: 1; flex-basis: 20rem;
    display: flex; flex-direction: column;

    background-color: var(--color-background);
    box-shadow: var(--color-background) 0 .5rem 3rem;
}

.info-card:hover {
    background-color: var(--color-canvas);
}

.info-card-title {
    margin: 1.5rem 2rem;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
}

.info-card-title h4, .info-card-title i {
    color: var(--color-subtitle);
}

.info-card-title h4 {
    font-size: large;
}

.info-card-title i {
    font-size: xx-large;
    color: var(--color-hover);
}

.info-card:hover .info-card-title i {
    color: var(--color-active);
}

.info-card-text {
    margin: 1.5rem 2rem;
    color: var(--color-alt-accent);
    font-weight: bold; font-size: 2.5rem;
}

/* -------------------------------------------------------------------------- */

.dashboard-footer {
    margin-top: 4rem;
    text-align: center;
    border-top: .0125rem solid var(--color-accent);
}

.dashboard-footer-text {
    margin-top: 2rem;
    font-size: small;
    color: var(--color-subtitle);
}

/* -------------------------------------------------------------------------- */
