
/* -- CSS ------------------------------------------------------------------- */

.dashboard-container {
    padding-inline: 2rem;
}

.dashboard-header {
    padding: 2rem 0;
    justify-content: space-between;
    display: flex; align-items: center;
    border-bottom: .125rem solid var(--border-color);
}

.dashboard-header h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.2rem; margin: 0;
}

.dashboard-header small {
    color: var(--text-secondary);
}

.dashboard-nav {
    display: flex; gap: 1rem;
}

.dashboard-nav a {
    display: flex; align-items: center;
    font-weight: bold; gap: .5rem;
    padding: .75rem 1rem;
    border-radius: .25rem;
    background-color: var(--canvas-color);
}

.dashboard-nav a:hover {
    background-color: var(--info-background);
}

/* -------------------------------------------------------------------------- */

.dashboard-metrics {
    display: grid;
    margin-block: 2rem; gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.metric-card {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .75rem var(--border-color);
    display: flex; flex-direction: column; gap: 1rem;
}

.metric-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metric-header h3 {
    margin: 0;
    color: #F6F8F8;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.metric-header span {
    border-radius: 50%;
    font-size: 2rem; padding: .75rem;
}

.metric-body {
    gap: .75rem;
    display: flex;
    flex-direction: column;
}

.metric-breakdown {
    align-items: center;
    display: flex; flex-direction: row;
    gap: 1.5rem; color: var(--text-secondary);
}

.metric-value {
    margin: 0;
    font-size: 3rem;
    color: #F6F8F8;
    font-weight: bold;
}

.metric-stats {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.metric-stats strong {
    font-weight: bold;
    color: #F6F8F8;
}

.metric-context {
    color: #F6F8F8;
    font-size: .98rem;
    margin-top: .5rem;
}

/* -------------------------------------------------------------------------- */

.metric-officers {
    background-color: var(--chart-color-05);
}

.metric-officers .metric-header span {
    color: var(--info-text);
    background-color: var(--info-background);
}

/* -------------------------------------------------------------------------- */

.metric-reports {
    background-color: var(--chart-color-03);
}

.metric-reports .metric-header span {
    color: var(--warning-text);
    background-color: var(--warning-background);
}

/* -------------------------------------------------------------------------- */