
/* -- CSS ------------------------------------------------------------------- */

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(28, 28, 30, .8), rgba(28, 28, 30, .8)),
        url('../images/signin.jpg');
}

.main-content {
    align-items: center; justify-content: center;
}

/* -------------------------------------------------------------------------- */

.login-section {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;

    box-shadow: 0 .5rem 5rem #161D1D;
    border-radius: .4rem; width: 30rem;
    background-color: rgba(36, 45, 45, .75);
}

.login-section img {
    margin: 4rem 0;
    width: 10rem; object-fit: contain;
}

/* -------------------------------------------------------------------------- */

.login-form {
    padding: 0 4rem 2rem 4rem; width: 100%;
}

.form-group.icon-input {
    position: relative;
    margin-bottom: 1.2rem;
}

.form-group.icon-input span {
    position: absolute;
    color: var(--text-disabled);
    font-size: .92rem; left: .92rem;
    transform: translateY(-50%); top: 50%;
}

.form-group.icon-input input {
    font-size: .98rem;
    color: var(--border-color);
    border-bottom: .125rem solid var(--text-secondary);
    width: 100%; padding: .85rem .75rem .85rem 3rem;
}

.form-group.icon-input input::placeholder {
    color: var(--state-idle);
}

.form-group.icon-input input:hover,
.form-group.icon-input input:focus {
    border-bottom-color: var(--state-idle);
}

/* -------------------------------------------------------------------------- */

.login-button {
    font-size: .95rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-secondary);
    background-color: var(--state-idle);

    margin-top: 1.5rem;
    border-radius: .25rem;
    width: 100%; padding: .75rem;
}

.login-button:hover {
    color: var(--text-primary);
    background-color: var(--state-hover);
}

/* -------------------------------------------------------------------------- */

.messages {
    padding: 0; margin-top: 1.5rem;
    font-size: 1rem; list-style: none;
    font-weight: bold; text-align: center;
}

.messages li {
    padding: 1rem;
    border-radius: .25rem;
}

.messages .error {
    color: var(--canvas-color);
    background-color: var(--error-border);
}

.messages .success {
    color: var(--success-text);
    background-color: var(--success-background);
}

.messages .info {
    color: var(--info-text);
    background-color: var(--info-background);
}

/* -------------------------------------------------------------------------- */