
<!-- ----------------------------------------------------------------------- -->

{% extends 'main.html' %}{% load static %}
{% block title %}Inicio{% endblock %}

{% block stylesheet %}
    {% comment %} <link href='{% static "css/testing.css" %}' rel='stylesheet' /> {% endcomment %}
{% endblock stylesheet %}

{% block scripts %}
    {% comment %} <script src='{% static "scripts/main.js" %}'></script> {% endcomment %}
{% endblock scripts %}

<!-- ----------------------------------------------------------------------- -->

{% block content %}

...

{% endblock content %}

<!-- ----------------------------------------------------------------------- -->
 